@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}


@layer base {
  @font-face {
    font-family:'Estedad';
    font-style:thin;
    font-weight: 100;
    src: url('/assent/font/Estedad-Thin.ttf');
  }
  /* @font-face {
    font-family:'Estedad';
    font-style:ultraLight;
    font-weight: 200;
    src: url('/assent/font/IRANSansX-UltraLight.woff');
  } */
  @font-face {
    font-family:'Estedad';
    font-style:light;
    font-weight: 300;
    src: url('/assent/font/Estedad-Light.ttf');
  }
  /* @font-face {
    font-family:'Estedad';
    font-style:regular;
    font-weight: 400;
    src: url('/assent/font/IRANSansX-Regular.woff'); */
  }
  @font-face {
    font-family:'Estedad';
    font-style:medium;
    font-weight: 500;
    src: url('/assent/font/Estedad-Medium.ttf');
  }
  /* @font-face {
    font-family:'Estedad';
    font-style:demiBold;
    font-weight: 600;
    src: url('/assent/font/IRANSansX-DemiBold.woff');
  } */
  @font-face {
    font-family:'Estedad';
    font-style:bold;
    font-weight: 700;
    src: url('/assent/font/Estedad-Bold.ttf');
  }
  /* @font-face {
    font-family:'Estedad';
    font-style:extraBold;
    font-weight: 800;
    src: url('/assent/font/IRANSansX-ExtraBold.woff');
  } */
  @font-face {
    font-family:'Estedad';
    font-style:black;
    font-weight: 900;
    src: url('/assent/font/Estedad-Black.ttf');
  }
  